.hello{
display: inline;
padding:140px
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body{
    background-color: lightcyan
}
table, th, td {
  border: 1px solid black;
}
p{
    font-family: Arial;
}
nav{
    background-color: aliceblue
}
div{
    text-align: center
}
h1{
    text-align: center
}